*~
*.pem
*.pyc

.DS_Store
env
.env
myvenv
venv
.python-version
.ruff_cache
./vscode
.vscode

db.sqlite3
djangoenv/
firebase/
log.txt
media
static
staticfiles
uninstall.txt
__pycache__
*/__pycache__
*/*/__pycache__
